<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<!--<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">-->
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="my-view1-login.html">
<link rel="lazy-import" href="my-view2-cuentas.html">
<link rel="lazy-import" href="my-view3-movimientos.html">
<link rel="lazy-import" href="my-view404.html">
<link rel="lazy-import" href="my-view4.html">
<link rel="lazy-import" href="my-view2.html">
<link rel="lazy-import" href="err-logado.html">
<link rel="lazy-import" href="my-view-err-alta.html">
<link rel="lazy-import" href="my-view7-detalle.html">
<link rel="lazy-import" href="my-view8-detmov.html">
<link rel="lazy-import" href="my-view9-datos.html">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

    /*  app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }*/

    /*   app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }*/

    /*  .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      } */

      /* Estilo del header */

      .sidebar {
        margin-top: 50px;
      }

      .menu
      {
        background-color: #00547E;
        border-bottom: 4px solid #04A3ED;
        width:100%;
        height: auto;
        padding: 0 10px;
        position: absolute;
        margin: 0px;
        z-index: 1;
        opacity: 0.9;
      }

      .menu  .navbar-nav > .active > a
      {
       background-color : #04A3ED;
       color: white;
       font-weight: bold;
      }

      .menu  .navbar-nav >  li >  a
      {
       font-size: 13px;
       color: white;
       padding: 10px 35px;
      }

      .menu  .navbar-nav >  li >  a:hover
      {
       background-color: #04A3ED;
      }

      .navbar-header > a
      {
       font-family: 'Ubuntu Condensed', sans-serif;
       padding: 0px;
       margin: 0px;
       text-decoration: none;
       color: white;
       font-size: 25px;
       padding: 5px 30px;
      }

      .navbar-header > a:hover
      {
       text-decoration: none;
       color: #04A3ED;
      }

      /* Barra lateral */
      body,html{
          height: 100%;
        }

        nav.sidebar, .main{
          -webkit-transition: margin 200ms ease-out;
            -moz-transition: margin 200ms ease-out;main
            -o-transition: margin 200ms ease-out;
            transition: margin 200ms ease-out;
        }

        .main{
          padding: 10px 10px 0 10px;
        }

       @media (min-width: 765px) {

          .main{
            position: absolute;
            width: calc(100% - 40px);
            margin-left: 40px;
            float: right;
          }

          nav.sidebar:hover + .main{
            margin-left: 200px;
          }

          nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
            margin-left: 0px;
          }

          nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
            text-align: center;
            width: 100%;
            margin-left: 0px;
          }

          nav.sidebar a{
            padding-right: 13px;
          }

          nav.sidebar .navbar-nav > li:first-child{
            border-top: 1px #e5e5e5 solid;
          }

          nav.sidebar .navbar-nav > li{
            border-bottom: 1px #e5e5e5 solid;
          }

          nav.sidebar .navbar-nav .open .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
          }

          nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
            padding: 0 0px 0 0px;
          }

          .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
            color: #777;
          }

          nav.sidebar{
            width: 200px;
            height: 100%;
            margin-left: -160px;
            float: left;
            margin-bottom: 0px;
          }

          nav.sidebar li {
            width: 100%;
          }

          nav.sidebar:hover{
            margin-left: 0px;
          }

          .forAnimate{
            opacity: 0;
          }
        }

        @media (min-width: 1630px) {

          .main{
            width: calc(100% - 200px);
            margin-left: 200px;
          }

          nav.sidebar{
            margin-left: 0px;
            float: left;
          }

          nav.sidebar .forAnimate{
            opacity: 1;
          }
        }

        nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
          color: #CCC;
          background-color: transparent;
        }

        nav:hover .forAnimate{
          opacity: 1;
        }
        section{
          padding-left: 15px;
        }

    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

  <!--  <app-drawer-layout fullbleed narrow="{{narrow}}">-->
      <!-- Drawer content -->
    <!--  <app-drawer id="drawer" hidden$={{!estoylogado}} slot="drawer" swipe-open="[[narrow]]"page>-->
    <!--  <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]"page>
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="view1-login" href="[[rootPath]]view1-login">Login</a>
          <a name="view2-cuentas" href="[[rootPath]]view2-cuentas">Consulta de cuentas</a>
          <a name="view7-detalle" href="[[rootPath]]view7-detalle">Consulta de detalle de cuenta</a>
          <a name="view3-movimientos" href="[[rootPath]]view3-movimientos">Consulta de movimientos</a>
          <a name="view2" href="[[rootPath]]view2">alta de cliente online</a>
          <a name="view-contacta-visor" href="[[rootPath]]view-contacta-visor">contacta con nosotros</a>
        </iron-selector>
      </app-drawer>-->


      <!-- Main content -->
      <!--<app-header-layout has-scrolling-region>-->

      <!--  <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>My App</div>
          </app-toolbar>
        </app-header> -->


        <div class="menu">
            <div class="container-fluid">
        		<div class="navbar-header">
        			<a href="#" on-click="deslogar">B-TECHU</a>
        		</div>
        		<div>
        			<ul class="nav navbar-nav navbar-right">
        				<li><a href="[[rootPath]]view2" hidden$={{estoylogado}}><span class="glyphicon glyphicon-user"></span> Hazte cliente</a></li>
        				<li><a href="[[rootPath]]view1-login" hidden$={{estoylogado}}><span class="glyphicon glyphicon-log-in"></span> Entrar</a></li>
                <li><a href="[[rootPath]]" hidden$={{!estoylogado}} on-click="deslogar"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
        			</ul>
        		</div>
        	</div>
        </div>

        <nav class="navbar navbar-default sidebar" role="navigation" hidden$={{!estoylogado}}>
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="[[rootPath]]view9-datos">Mi Cuenta<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                <li ><a href="[[rootPath]]view2-cuentas">Cuentas<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-euro"></span></a></li>
                <li ><a href="[[rootPath]]view3-movimientos" hidden$={{!tengomovs}}>Movimientos<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-list-alt"></span></a></li>
                <!--<li class="dropdown">
                  <a href="[[rootPath]]view2-cuentas" class="dropdown-toggle" data-toggle="dropdown">Cuentas <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
                  <ul class="dropdown-menu forAnimate" role="menu">
                    <li><a href="[[rootPath]]view3-movimientos" hidden$={{!tengomovs}}>Movimientos</a></li>
                    <li><a href="#" hidden$=true>Modificar</a></li>
                    <li><a href="#" hidden$=true>Reportar</a></li>
                        <li class="divider"></li>
                  </ul>
                </li>-->
                <li class="divider"></li>
                <li ><a href="[[rootPath]]view-contacta-visor">Contacto<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
                <!--<li ><a href="#">Tags<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li>-->
              </ul>
            </div>
          </div>
        </nav>

      <img hidden$={{quitarfoto}} src="../images/btechu.jpg" width=100% height=100%/>

<!--        <div class="sidebar-nav" hidden$={{!estoylogado}}>
              <div class="well" style="width:300px; padding: 80px 5px">
              <ul class="nav nav-list">
                <li class="nav-header">MENU</li>
                <li><a href="[[rootPath]]view2-cuentas">Cuentas</a></li>
                <li><a href="[[rootPath]]view3-movimientos" hidden$={{!tengomovs}}>Movimientos</a></li>
                <li><a href="[[rootPath]]view-contacta-visor">Contacto</a></li>
              </ul>
            </div>
        </div> -->


        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
          <my-view1-login name="view1-login" hidden$={{estoylogado}} id="login" on-milogado="procesar"></my-view1-login>
<!--          <my-view2-cuentas name="view2-cuentas" idcliente={{id}} id="vcccs" on-eventomovs="listarMovs"></my-view2-cuentas>     -->

          <my-view2-cuentas name="view2-cuentas" idcliente={{id}} id="vcccs" on-eventodet="listarDetalle"></my-view2-cuentas>
          <my-view3-movimientos name="view3-movimientos" iban={{iban}} saldo={{saldo}} on-detallemovimientos="detMoviminiento"></my-view3-movimientos>
          <my-view4 name="view4" id="erlog"> </my-view4>
          <my-view-contacta-visor name="view-contacta-visor" id="contac"></my-view-contacta-visor>
          <my-view2 name="view2" id="erral" on-mialta="procesarAlta" on-erralta="procesarErrorAlta"></my-view2>
          <my-view404 name="view404"></my-view404>
          <my-view7-detalle name="view7-detalle" id="deta" iban={{iban}} on-eventomovs="listarMovs" on-eventotransfer="hacerTransferencia" ></my-view7-detalle>
          <my-view6-transferencia name="view6-transferencia" id="tran" iban={{iban}} on-transferenciabien="listarMovs2"></my-view6-transferencia>
          <my-view8-detmov name="view8-detmov" id="detm" iban={{iban}} indice={{indice}}></my-view8-detmov>
          <my-view-err-alta name="view-err-alta"></my-view-err-alta>
          <my-view9-datos name="view9-datos" idcliente={{id}} id="test"></my-view9-datos>
          <my-view9-perfil name="view9-perfil" id="datosperfil" idcliente={{id}} on-mimodusuario="okPerfil" on-errmodusuario="koPerfil"></my-view9-perfil>
        </iron-pages>
    <!--  </app-header-layout>-->
    <!--</app-drawer-layout>-->

    <!--<br></br>
    <br></br>
    <br></br>
    <h1>Yo soy el que maneja</h1>
      <my-view1-login hidden$={{estoylogado}} id="login" on-eventologin="procesar"></my-view1-login>
        <my-view2-cuentas hidden$={{!estoylogado}} id="vcccs"></my-view2-cuentas>-->
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          estoylogado: {
            type: Boolean,
            value: false
          },
          tengomovs: {
            type: Boolean,
            value: false
          },
          quitarfoto: {
            type: Boolean,
            value: false
          }
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }


        // Close a non-persistent drawer when the page & route are changed.
        //if (!this.$.drawer.persistent) {
        //   this.$.drawer.close();
        //}
        //}


      procesar(e) {
        this.id = e.detail.id
        console.log("my-app recibe el id " + this.id)
      //this.$.vcccs.consultarCuentas(id)
        this.estoylogado = true
        this.page = "view2-cuentas"
      //this.$.vcccs.listarCuentas()
      }
      listarMovs(e) {
        this.iban = e.detail.IBAN
        this.saldo = e.detail.saldo
        console.log("my-app recibe el iban " + this.iban)
        this.tengomovs = true
        this.page = "view3-movimientos"
      }
      listarMovs2(e) {
        this.iban = e.detail.IBAN
        this.saldo = e.detail.saldo
        console.log("my-app recibe el iban " + this.iban)
        this.tengomovs = true
        this.page = "view3-movimientos"
      }
      listarDetalle(e) {
        this.iban = e.detail.IBAN
        console.log("my-app recibe el iban " + this.iban)
        console.log("voy al detalle de la cuenta")
        this.page = "view7-detalle"
      }
      detMoviminiento(e) {
        this.iban = e.detail.IBAN
        this.indice = e.detail.indice
        console.log("my-app recibe el iban " + this.iban)
        console.log("my app recibe el ID mov" + this.indice)
        this.page = "view8-detmov"
      }
      hacerTransferencia(e) {
        this.iban = e.detail.IBAN
        console.log("my-app recibe el iban " + this.iban)
        console.log("voy al detalle de la cuenta")
        this.page = "view6-transferencia"
      }
      errorLogin(e) {
        console.log("error login manejador")
        console.log(e)
        this.page= "view4"
        console.log(this.page)
    }

      procesarErrorAlta(e) {
        console.log("error alta manejador")
        console.log(e)
        this.page= "view-err-alta"

      }
      procesarAlta(e) {
        console.log("alta usuario OK manejador")
        console.log(e)
        this.page= "view1-login"

      }
      deslogar() {
        this.estoylogado = false
        this.tengomovs = false
      }
      okPerfil() {
        //alert('modificación de usuario correcta');
        //this.page= "view9-perfil"
        console.log("modificación de usuario correcta")
      }
      koPerfil() {
        //alert('fallo en modificación de usuario');
        //this.page= "view9-perfil"
        console.log("fallo en modificación de usuario")
      }
      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        console.log("mi app pagechanged")
        console.log(page)
        const resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        console.log(this.resolveUrl)
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
        if (page == 'app') {this.quitarfoto = false} else {this.quitarfoto = true}
      }
      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        // this.page = page || 'view1-login';
           this.page = page || 'app';

        // Close a non-persistent drawer when the page & route are changed.
        //if (!this.$.drawer.persistent) {
        //  this.$.drawer.close();
        //}
      }
      _showPage404() {
        this.page = 'view404';
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
