<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-view2-cuentas">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px

        width: 100%;
        position: absolute;
        left: 220px;
        top: 60px;
      }


  .event-list {
		list-style: none;
		margin: 0px;
		padding: 0px;
	}
	.event-list > li {
	/*	background-color: rgb(255, 255, 255);*/
    background: #D3D8E8;
    background-image: -webkit-linear-gradient(top, #FFFFFF, #D3D8E8);
    background-image: -moz-linear-gradient(top, #FFFFFF, #D3D8E8);
    background-image: -ms-linear-gradient(top, #FFFFFF, #D3D8E8);
    background-image: -o-linear-gradient(top, #FFFFFF, #D3D8E8);
    background-image: linear-gradient(to bottom, #FFFFFF, #D3D8E8);
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
		margin: 0px 0px 20px;
	}

	.event-list > li > .info {
		padding-top: 5px;
		text-align: left;
		margin-left: 0px;
		padding-left: 40px;
	}
	.title {
		font-size: 15pt;
		font-weight: 500;
		margin: 10px;
	}
  .title2 {
		font-size: 15pt;
		font-weight: 500;
		margin: 10px;
    color: #00547E;
	}
	.event-list > li > .info > .desc {
		font-size: 13pt;
		font-weight: 300;
		margin: 0px;
		text-align: left;
		margin-left: 60px;
	}
  .card {
    background: #04A3ED;
    background-image: -webkit-linear-gradient(top, #04A3ED, #00547E);
    background-image: -moz-linear-gradient(top, #04A3ED, #00547E);
    background-image: -ms-linear-gradient(top, #04A3ED, #00547E);
    background-image: -o-linear-gradient(top, #04A3ED, #00547E);
    background-image: linear-gradient(to bottom, #04A3ED, #00547E);
    width: 95%;
    height: 70px;
  }
  h1 {
    color:white;
  }
  .glyphicon {
    text-decoration: none;
  }

	@media (min-width: 768px) {
		.event-list > li {
			position: relative;
			display: block;
			width: 70%;
			height: 50px;
      left: 150px;
			padding: 0px;
		}

		.event-list > li > .info {
			/*background-color: rgb(245, 245, 245);*/
      background: #D3D8E8;
      background-image: -webkit-linear-gradient(top, #FFFFFF, #D3D8E8);
      background-image: -moz-linear-gradient(top, #FFFFFF, #D3D8E8);
      background-image: -ms-linear-gradient(top, #FFFFFF, #D3D8E8);
      background-image: -o-linear-gradient(top, #FFFFFF, #D3D8E8);
      background-image: linear-gradient(to bottom, #FFFFFF, #D3D8E8);
			overflow: hidden;
		}

		.event-list > li > .info {
			position: relative;
			height: 50px;

			padding-right: 40px;
		}
		.event-list > li > .info > .title,
		.event-list > li > .info > .desc {
			padding: 0px 10px;
		}
	}
  #wrap{
    width: 1000px;
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
/* Mozilla Firefox */
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
/* Opera */
background-image: -o-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #D3D8E8));
/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
/* W3C Markup, IE10 Release Preview */
background-image: linear-gradient(to bottom, #FFFFFF 0%, #D3D8E8 100%);
background-repeat: no-repeat;
background-attachment: fixed;
}

    </style>

    <!--<div class="card">
      <div class="circle">2</div>
      <h1>View Two</h1>
      <p>Ea duis bonorum nec, falli paulo aliquid ei eum.</p>
      <p>Id nam odio natum malorum, tibique copiosae expetenda mel ea.Detracto suavitate repudiandae no eum. Id adhuc minim soluta nam.Id nam odio natum malorum, tibique copiosae expetenda mel ea.</p>
    </div>-->
  <iron-ajax id="obtenerCuentas"
             url="http://mi-ruta-back.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/cuentas/id"
             handle-as="json"
             on-response="mostrarCuentas"
             on-error="mostrarErrorCuentas">
  </iron-ajax>


<div class="container" id="wrap">
  <div class="card">
    <h1>Sus Cuentas</h1>
  </div>

  <template is="dom-repeat" items="{{cuentas}}">
    <div class="row">
    <!--<div class="[ col-xs-7 col-sm-offset-1 col-sm-7 ]">-->
        <ul class="event-list">
         <li>
          <div class="info">
              <h4><span class="title">IBAN:  <span class="title2"> {{item.IBAN}}</span></span>
              <a class="glyphicon glyphicon-info-sign" href="[[rootPath]]view7-detalle" on-click="buscarDetalle" data-iban$="{{item.IBAN}}"></a>
              </h4>
          </div>
         </li>
        </ul>
      <!--</div>-->
   </div>
   </template>
 </div>


  </template>

  <script>
    class MyView2Cuentas extends Polymer.Element {
      static get is() { return 'my-view2-cuentas'; }
      static get properties() {
        return {
          idcliente: {
            type: Number,
            observer: '_idChanged'
          },
          cuentas: {
            type: Array
          }
  //        iban: {
  //          type: String
  //        }
        };

      }

      mostrarCuentas(resultado) {
            console.log("4.voy por aqui a ver el resultado del apitechu cuentas")
             console.log(resultado.detail.response)
             this.cuentas = resultado.detail.response

          }

      mostrarErrorCuentas(error) {
        console.log(error.detail.response)
      }
      //listarCuentas() {
      _idChanged(newValue, oldValue) {
        console.log("entro en id changed cuentas")
        this.cuentas = null
        this.$.obtenerCuentas.headers.idcliente = this.idcliente
        this.$.obtenerCuentas.generateRequest()
      }
  //    connectedCallback() {
  //      super.connectedCallback()
  //      console.log("consultar cuentas id")
  //      console.log(this.idcliente)
  //      this.$.obtenerCuentas.headers.idcliente = this.idcliente
  //      this.$.obtenerCuentas.generateRequest()
  //    }
      buscarMovimientos(event) {
        console.log("Buscar Movimientos")
        const it = event.target.dataset.iban;
        console.log(it)
        this.dispatchEvent(new CustomEvent("eventomovs", {"detail":{"IBAN":it}}))
      }
      buscarDetalle(event) {
        console.log("Buscar detalle cuenta")
        const it = event.target.dataset.iban;
        console.log(it)
        this.dispatchEvent(new CustomEvent("eventodet", {"detail":{"IBAN":it}}))
      }
    }

    window.customElements.define(MyView2Cuentas.is, MyView2Cuentas);
  </script>
</dom-module>
