<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/google-chart/google-chart.html">


<dom-module id="my-view3-movimientos">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;

        width: 60%;
        position: absolute;
        left: 220px;
        top: 60px;
      }

      .panel {
  width:800px;
  height:20px;
  margin-left:90px;
  margin-top:10px;
  }
  .event .panel-body {
  background: #BBDEFB;
  border: 1px solid #448AFF;
  padding:0;
  margin:0;
  height:62px;
  }

.event .panel-body .rsvp {
  border-left: none;
  padding: 0;
  text-align: center;
  position: relative;
  background: #64B5F6;
  color: white;
  height: 100%;
}

.event .rsvp i {
  font-size: 20px;
  display: block;
  position:relative;
  top:17%;
  margin-bottom:5px;
}

.event .info{
  font-size: 23px;
}

.event .info > div{
  font-size: 14px;
}

.event .author{
  font-size: 20px;
  margin-top: 10px;
  font-style: italic;
}


      .card {
        background: #04A3ED;
        background-image: -webkit-linear-gradient(top, #04A3ED, #00547E);
        background-image: -moz-linear-gradient(top, #04A3ED, #00547E);
        background-image: -ms-linear-gradient(top, #04A3ED, #00547E);
        background-image: -o-linear-gradient(top, #04A3ED, #00547E);
        background-image: linear-gradient(to bottom, #04A3ED, #00547E);
        width: 95%;
        height: 70px;
      }

      h1 {
        color:white;
        font-size: 20px;
      }

      .glyphicon {
        text-decoration: none;
        font-size: 14px;
        margin-bottom: 5px;
      }

      .icon {
          text-align: right;
          padding-right: 5px;
      }

      .ital {
        font-style: italic;
        font-weight: bold;
      }

      .info{
        font-size: 23px;
      }

      #wrap{
        width: 1000px;
        padding-bottom: 30px;
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #D3D8E8));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #D3D8E8 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
    legend {
      color:#141823;
      font-size:14px;
      font-weight:bold;
      margin-left: 50px;
    }
    .tarta {
      margin-left: 60px;
      width: 380px;
      height: 200px;
      float:left;
    }
    .geo {
      margin-left: 520px;
      width: 380px;
      height: 200px;
    }
    </style>

    <iron-ajax id="obtenerMovimientos"
               url="http://mi-ruta-back.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/movimientos"
               handle-as="json"
               on-response="mostrarMovimientos"
               on-error="mostrarErrorMovimientos">
    </iron-ajax>

    <div class="container" id="wrap">
      <div class="card">
        <h1>Movimientos de IBAN <span class="ital">{{iban}}</span> - Saldo <span class="ital">{{saldo}}</span></h1>
      </div>

      <template is="dom-repeat" items="{{movimientos}}">
        <div class=row>
           <div class="panel panel-default event">
             <div class="panel-body">
               <div class="rsvp col-xs-2 col-sm-2">
                  <i>{{item.fecha}}</i>
               </div>
               <div class="info col-xs-8 col-sm-7">
                 <div><span class="info">[[_formatTipo(item.tipo)]]</span></div>
                 <div>{{item.city}}</div>
               </div>
               <div class="author">
                 <strong>{{item.importe}} {{item.divisa}}</strong>
               </div>
               <div class="icon">
                 <a class="glyphicon glyphicon-list-alt" href="[[rootPath]]view8-detmov" on-click="detalleMov" data-iban$="{{item.IBAN}}" data-id$="{{item.id}}"></a>
               </div>
             </div>
           </div>
         </div>
       </template>
       <hr></hr>
       <legend> Estadísticas por Sector y Localización de Movimientos:</legend>
       <google-chart
          class="tarta"
          type='pie'
          options='{"title": "Por sector de actividad:"}'
          cols='[{"label":"Tipo", "type":"string"}, {"label":"Movimientos", "type":"number"}]'
          rows='{{tartaArray}}'>
       </google-chart>
       <google-chart
         class="geo"
         type="geo"
         data='{{cityArray}}'>
       </google-chart>

     </div>
  </template>

  <script>
    class MyView3Movimientos extends Polymer.Element {
      static get is() { return 'my-view3-movimientos'; }
      static get properties() {
        return {
          iban: {
            type: String,
            observer: '_ibanChanged'
          },
          movimientos: {
            type: Array
          },
          indice: {
            type: Number
          },
          saldo: {
            type: Number,
            observer: '_saldoChanged'
          }
        };
      }
   mostrarMovimientos(resultado) {
    console.log("Resultado: ")
    console.log(resultado)
    console.log("Result detail response")
    console.log(resultado.detail.response)
    this.movimientos = resultado.detail.response[0].movimientos
    console.log("Array de movimientos: ")
    console.log(this.movimientos)
    this.tartaArray = [["Transfers", 0],["Compras", 0],["Recibos", 0],["Reintegros", 0],["Otros gastos / abonos", 0]]
    for (var i = 0; i < this.movimientos.length; i++) {
      if (this.movimientos[i].tipo == 1) {
        this.tartaArray[0][0,1] = this.tartaArray[0][0,1] + 1
      } else {
        if (this.movimientos[i].tipo == 2) {
        this.tartaArray[1][0,1] = this.tartaArray[1][0,1] + 1
        } else {
          if (this.movimientos[i].tipo == 3) {
          this.tartaArray[2][0,1] = this.tartaArray[2][0,1] + 1
          } else {
            if (this.movimientos[i].tipo == 4) {
            this.tartaArray[3][0,1] = this.tartaArray[3][0,1] + 1
            } else {
              if (this.movimientos[i].tipo == 5) {
              this.tartaArray[4][0,1] = this.tartaArray[4][0,1] + 1
              }
             }
           }
         }
       }
     }
     this.cityArray = [["City"]]
     for (var i = 0; i < this.movimientos.length; i++) {
      var citytempArray = []
      citytempArray.push(this.movimientos[i].city)
      this.cityArray.push(citytempArray)
     }
   }
   mostrarErrorMovimientos(error) {
     console.log(error.detail.response)
   }
   detalleMov(event) {
     console.log("detalle del Movimiento")
     const it = this.iban
     const et = event.target.dataset.id;
     console.log(it)
     console.log(et)
     console.log("descpacho detalleMovimientos")
     this.dispatchEvent(new CustomEvent("detallemovimientos", {"detail":{"IBAN":it, "indice":et}}))
   }
//   connectedCallback() {
//     super.connectedCallback()
//     console.log("entro en movimientos")
//     console.log(this.iban)
//     this.ibanEd = '"' + this.iban + '"'
//     console.log("con comillas : " + this.ibanEd)
//     this.$.obtenerMovimientos.headers.cuenta = this.ibanEd
//     this.$.obtenerMovimientos.generateRequest()
//   }
   _ibanChanged(newValue, oldValue) {
     console.log("entro en iban changed movimientos")
     this.movimientos = null
     this.ibanEd = '"' + this.iban + '"'
     console.log("con comillas : " + this.ibanEd)
     this.$.obtenerMovimientos.headers.cuenta = this.ibanEd
     this.$.obtenerMovimientos.generateRequest()
   }
   _saldoChanged(newValue, oldValue) {
     console.log("entro en saldo changed movimientos")
     this.movimientos = null
     this.ibanEd = '"' + this.iban + '"'
     console.log("con comillas : " + this.ibanEd)
     this.$.obtenerMovimientos.headers.cuenta = this.ibanEd
     this.$.obtenerMovimientos.generateRequest()
   }
   _formatTipo(e) {
     if (e == 1) {return "Transferencia"} else {
       if (e == 2) {return "Compra"} else {
         if (e == 3) {return "Recibo"} else {
           if (e == 4) {return "Reintegro"} else {
             if (e == 5) {return "Otros gastos / abonos"} else {
               return "Movimiento no Catalogado"
             }
           }
         }
       }
     }
   }
 }

    window.customElements.define(MyView3Movimientos.is, MyView3Movimientos);
  </script>
</dom-module>
