<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
 <script src="my-map.js"></script>

</script>
    <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaIAlrhHg5njG18zbzifcRHf3NmI1OGik">
</script>


<dom-module id="my-view8-detmov">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;

        width: 90%;
        position: absolute;
        left: 60px;
        top: 60px;
      }
      #wrap{
        width: 70%;
          padding: 5px;
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #D3D8E8));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #D3D8E8 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
    .card {
      background: #04A3ED;
      background-image: -webkit-linear-gradient(top, #04A3ED, #00547E);
      background-image: -moz-linear-gradient(top, #04A3ED, #00547E);
      background-image: -ms-linear-gradient(top, #04A3ED, #00547E);
      background-image: -o-linear-gradient(top, #04A3ED, #00547E);
      background-image: linear-gradient(to bottom, #04A3ED, #00547E);
      width: 95%;
      height: 70px;
    }
    h1 {
      color:white;
    }
    legend{
      color:#141823;
      font-size:14px;
    }
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width:400px;
      height:200px;
    }
    </style>

    <iron-ajax id="obtenerDetalle"
               url="http://mi-ruta-back.7e14.starter-us-west-2.openshiftapps.com/apitechu/v8/detmovim"
               handle-as="json"
               on-response="mostrarDetalle"
               on-error="mostrarErrorDetalle">
    </iron-ajax>

    <div class="container" id="wrap">
         <div class="card">
           <h1>Detalle del Movimiento</h1>
         </div>

         <div>
             <br><b> Fecha del Movimiento: </b><span>{{fecha}}</span></br>
             <br><b> Concepto: </b><span>[[_formatTipo(tipo)]]</span></br>
             <br><b> Importe: </b><span>{{importe}} {{divisa}}</span></br>
             <hr></hr>
             <legend><b> Localización: </b>{{city}}</legend>
             <!--<div class="pull-right">
                   <a class="texto"><b>Situar en el mapa</b></a>
                   <div class="center" id="map" name="map" style="width:400px;height:200px;"></div>-->
             <div class="center" id="map" name="map"></div>
         </div>
     </div>

  </template>

  <script>
    class MyView8Detmov extends Polymer.Element {
      static get is() { return 'my-view8-detmov'; }
      static get properties() {
        return {
          iban: {
            type: String,
            observer: '_ibanChanged'
          },
          importe: {
            type: String
          },
          indice: {
            type: Number,
            observer: '_idChanged'
          },
          divisa: {
            type: String
          },
          fecha: {
            type: String
          },
          city: {
            type: String
          },
          tipo: {
            type: Number
          }
        };
      }
      mostrarDetalle(resultado) {
       console.log("Resultado: ")
       console.log(resultado)
       console.log("Result detail response")
       console.log(resultado.detail.response)
       this.importe = resultado.detail.response.importe
       this.numero = resultado.detail.response.id
       this.fecha = resultado.detail.response.fecha
       this.divisa = resultado.detail.response.divisa
       this.city = resultado.detail.response.city
       this.tipo = resultado.detail.response.tipo
       console.log("datos recibidos")
       initMap(this.city);
      }
      mostrarErrorDetalle(error) {
        console.log(error.detail.response)
      }
//      connectedCallback() {
//        super.connectedCallback()
//        console.log("entro en conectedCallback detalle de movimientos")
//        console.log(this.indice)
//        console.log(this.iban)
//        this.ibanEd = '"' + this.iban + '"'
//        console.log("con comillas : " + this.ibanEd)
//        this.$.obtenerDetalle.headers.idmov = this.indice
//        this.$.obtenerDetalle.headers.cuenta = this.ibanEd
//        this.$.obtenerDetalle.generateRequest()
//      }
      _ibanChanged(newValue, oldValue) {
        this.ibanEd = '"' + this.iban + '"'
        console.log("con comillas : " + this.ibanEd)
        console.log("this.indice:" +this.indice)
        this.$.obtenerDetalle.headers.cuenta = this.ibanEd
        this.$.obtenerDetalle.headers.idmov = this.indice
        this.$.obtenerDetalle.generateRequest()
      }
      _idChanged(newValue, oldValue) {
        console.log("con comillas : " + this.ibanEd)
        console.log("this.indice:" +this.indice)
        this.ibanEd = '"' + this.iban + '"'
        console.log("con comillas : " + this.ibanEd)
        this.$.obtenerDetalle.headers.idmov = this.indice
        this.$.obtenerDetalle.headers.cuenta = this.ibanEd
        this.$.obtenerDetalle.generateRequest()
      }
      _formatTipo(e) {
        if (e == 1) {return "Transferencia"} else {
          if (e == 2) {return "Compra"} else {
            if (e == 3) {return "Recibo"} else {
              if (e == 4) {return "Reintegro"} else {
                if (e == 5) {return "Otros gastos / abonos"} else {
                  return "Movimiento no Catalogado"
                }
              }
            }
          }
        }
      }
    }

    window.customElements.define(MyView8Detmov.is, MyView8Detmov);
  </script>
</dom-module>
