<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-view1-login">
  <template>
    <style>
      :host {
        display: block;

        width: 90%;
        position: absolute;

        top: 70px;
        left: 70px;
      }

      /* Estilo para el login */
  /*    .container {
        margin-left: 420px;
        margin-top: 120px;

      }*/
      #wrap{
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #D3D8E8));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #D3D8E8 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  }

  legend{
  	color:#141823;
  	font-size:25px;
  	font-weight:bold;
  }
  .signup-btn {
    background: #04A3ED;
    background-image: -webkit-linear-gradient(top, #04A3ED, #00547E);
    background-image: -moz-linear-gradient(top, #04A3ED, #00547E);
    background-image: -ms-linear-gradient(top, #04A3ED, #00547E);
    background-image: -o-linear-gradient(top, #04A3ED, #00547E);
    background-image: linear-gradient(to bottom, #04A3ED, #00547E);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    text-shadow: 0px 1px 0px #898a88;
    -webkit-box-shadow: 0px 0px 0px #a4e388;
    -moz-box-shadow: 0px 0px 0px #a4e388;
    box-shadow: 0px 0px 0px #a4e388;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #3b6e22  1px;
    text-decoration: none;
  }

  .signup-btn:hover {
    background: #04A3ED;
    background-image: -webkit-linear-gradient(top, #04A3ED, #5e7056);
    background-image: -moz-linear-gradient(top, #04A3ED, #5e7056);
    background-image: -ms-linear-gradient(top, #04A3ED, #5e7056);
    background-image: -o-linear-gradient(top, #04A3ED, #5e7056);
    background-image: linear-gradient(to bottom, #04A3ED, #5e7056);
    text-decoration: none;
  }
    </style>
      <iron-ajax id="hacerLogin"
                url="http://mi-ruta-back.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/login"
                METHOD="POST"
                hadle-as="json"
                on-response="mostrarResultadoLogin"
                on-error="mostrarError">
      </iron-ajax>

 <!--<div class="row">
   <input type="email" name="email" placeholder="email" value={{email::input}} />
   <input type="password"name="password" placeholder="Password"  value ={{password::input}} />
   <button on-click="logar">Login</button> -->
 <br/>
 <br/>

 <!--<div class="container" style="margin-top:30px">-->
 <div class="container" id="wrap">
	  <div class="row">
        <div class="col-md-6 col-md-offset-3">
           <div class="panel-heading"><h3 class="panel-title"><legend>Entrar </legend></h3>
           <h4>Introduzca su email y password</h4></div>
           <div class="panel-body">
             <div class="form-group">
             <label for="exampleInputEmail1">Email</label>
             <input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="Email" value={{email::input}} >
             </div>
             <div class="form-group">
             <label for="exampleInputPassword1">Password </label>
             <input type="password" class="form-control input-lg" id="exampleInputPassword1" placeholder="Password" value ={{password::input}} >
             </div>
             <button type="submit" class="btn btn-lg btn-primary btn-block signup-btn" on-click="logar">Entrar</button>
            </div>
          </div>
     </div>
  </div>

  <!-- tener el mensaje oculto mientras no esté logado - se marca con ! + variable
 -->
 <!--<span hidden$="{{!logado}}">Bienvenido de nuevo</span>-->
 <span hidden$="{{!error}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ERROR LOGIN POR FAVOR ASEGURESE DE HABER INTRODUCIDO CORRECTAMENTE EMAIL Y PASSWORD </span>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyView1Login extends Polymer.Element {
      static get is() { return 'my-view1-login'; }
      static get properties() {
        return {
          email: {
              type: String
          },
          password: {
              type: String
          },
          logado: {
                type: Boolean,
                value: false
          },
          error: {
                type: Boolean,
                value: false
          },
        };
      }
      mostrarResultadoLogin(resultado){
        console.log("4. llegaron los resultados")
        console.log(resultado)
        console.log("5.proceso los resultados")
        this.logado = true
        this.error = false
        this.email = null
        this.password = null
        this.dispatchEvent(new CustomEvent("milogado", {"detail":{"id":resultado.detail.response.id}}))
      }
      mostrarError(error){
        console.log("4. llegamos al error")
        this.logado = false
        this.error = true
        console.log(error)
//        this.dispatchEvent(new CustomEvent("errlogado", {"detail":{"id":"errorlogado"}}))


      }
      logar(){
        console.log("1. el suario ha pulsado el botón")
        this.$.hacerLogin.headers.email = this.email
        this.$.hacerLogin.headers.password = this.password
        console.log("2. voy a enviar la petición")
        this.$.hacerLogin.generateRequest()
        console.log("3. petición enviada")
      }


    }

    window.customElements.define(MyView1Login.is, MyView1Login);
  </script>
</dom-module>
