<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<!--<link rel="import" href="shared-styles.html">-->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-view7-detalle">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;

        width: 90%;
        position: absolute;
        left: 60px;
        top: 60px;
      }
      #wrap{
        width: 70%;
          padding: 10px;
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #D3D8E8));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #D3D8E8 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
    .card {
      background: #04A3ED;
      background-image: -webkit-linear-gradient(top, #04A3ED, #00547E);
      background-image: -moz-linear-gradient(top, #04A3ED, #00547E);
      background-image: -ms-linear-gradient(top, #04A3ED, #00547E);
      background-image: -o-linear-gradient(top, #04A3ED, #00547E);
      background-image: linear-gradient(to bottom, #04A3ED, #00547E);
      width: 95%;
      height: 70px;
    }
    h1 {
      color:white;
    }
    legend{
      color:#141823;
      font-size:14px;
      font-weight:bold;
    }
  </style>

    <iron-ajax id="obtenerDetalle"
               url="http://mi-ruta-back.7e14.starter-us-west-2.openshiftapps.com/apitechu/v8/detcuentas"
               handle-as="json"
               on-response="mostrarDetalle"
               on-error="mostrarErrorDetalle">
    </iron-ajax>

 <div class="container" id="wrap">
      <div class="card">
        <h1>Detalle de su cuenta: <span>{{iban}}</span></h1>
      </div>

      <div>
          <br><b> Nombre del Titular: </b><span>{{titular}}</span><span> {{apellido}}</span></br>
          <br><b> Saldo de la Cuenta: </b><span>{{saldo}}</span><span> {{divisa}}</span></br>
          <hr></hr>
          <legend> Operar:</legend>
          <ul class="nav nav-pills nav-stacked">
              <li role="presentation"><a href="[[rootPath]]view3-movimientos" on-click="detalleMovimientos"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Consultar Movimientos</a></li>
              <li role="presentation"><a href="[[rootPath]]view6-transferencia" on-click="realizarTransferencia"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Realizar Transferencia</a></li>
              <li></li>
          </ul>
      </div>
  </div>


  </template>

  <script>
    class MyView7Detalle extends Polymer.Element {
      static get is() { return 'my-view7-detalle'; }
      static get properties() {
        return {
          iban: {
            type: String,
            observer: '_ibanChanged'
          },
          titular: {
            type: String
          },
          apellido: {
            type: String
          },
          saldo: {
            type: Number
          },
          divisa: {
            type: String
          },
          indice: {
            type: Number
          }
        };
      }
      mostrarDetalle(resultado) {
       console.log("Resultado: ")
       console.log(resultado)
       console.log("Result detail response")
       console.log(resultado.detail.response)
       this.titular = resultado.detail.response.titular
       this.apellido = resultado.detail.response.apellido
       this.saldo = resultado.detail.response.saldo
       this.divisa = resultado.detail.response.divisa
       console.log("datos recibidos")
       console.log(this.titular)
       console.log(this.saldo)
      }
      mostrarErrorDetalle(error) {
        console.log(error.detail.response)
      }
//      connectedCallback() {
//        super.connectedCallback()
//        console.log("entro en detalle")
//        console.log(this.iban)
//        this.ibanEd = '"' + this.iban + '"'
//        console.log("con comillas : " + this.ibanEd)
//        this.$.obtenerDetalle.headers.cuenta = this.ibanEd
//        this.$.obtenerDetalle.generateRequest()
//      }
      detalleMovimientos(event) {
        console.log("Buscar Movimientos")
        const it = this.iban;
        const et = this.saldo;
        console.log(et)
        console.log(it)
        this.dispatchEvent(new CustomEvent("eventomovs", {"detail":{"IBAN":it, "saldo":et}}))
      }
      realizarTransferencia(event) {
        console.log("voy a hacer la transferencia")
        const it = this.iban;
        const et = this.saldo;
        console.log(it)
        this.dispatchEvent(new CustomEvent("eventotransfer", {"detail":{"IBAN":it, "saldo":et}}))

      }
      _ibanChanged(newValue, oldValue) {
        this.movimientos = null
        this.ibanEd = '"' + this.iban + '"'
        console.log("con comillas : " + this.ibanEd)
        this.$.obtenerDetalle.headers.cuenta = this.ibanEd
        this.$.obtenerDetalle.generateRequest()
      }


    }

    window.customElements.define(MyView7Detalle.is, MyView7Detalle);
  </script>
</dom-module>
