<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-view6-transferencia">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;

        width: 90%;
        position: absolute;
        left: 60px;
        top: 60px;
      }
      #wrap{
        width: 70%;
          padding: 10px;
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #D3D8E8));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #D3D8E8 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
    .card {
      background: #04A3ED;
      background-image: -webkit-linear-gradient(top, #04A3ED, #00547E);
      background-image: -moz-linear-gradient(top, #04A3ED, #00547E);
      background-image: -ms-linear-gradient(top, #04A3ED, #00547E);
      background-image: -o-linear-gradient(top, #04A3ED, #00547E);
      background-image: linear-gradient(to bottom, #04A3ED, #00547E);
      width: 95%;
      height: 70px;
    }
    h1 {
      color:white;
    }
    legend {
      color:#141823;
      font-size:14px;
      font-weight:bold;
    }


    </style>
      <iron-ajax id="transferencia"
                url="http://mi-ruta-back.7e14.starter-us-west-2.openshiftapps.com/apitechu/v9/movimientos"
                METHOD="POST"
                hadle-as="json"
                on-response="mostrarResultadoAlta"
                on-error="mostrarError">
      </iron-ajax>

      <div class="container" id="wrap">
           <div class="card">
             <h1>Transferir desde su cuenta: <span>{{iban}}</span></h1>
           </div>

           <div>
               <legend> Introduzca los datos de la operación:</legend>
               <br><b> Importe: </b><input type="import" name="importe" placeholder="importe" value={{importe::input}} /></br>
               <br><b> Divisa:&nbsp;&nbsp;&nbsp; </b><input type="divisa" name="divisa" placeholder="divisa"  value ={{divisa::input}} /></br>
               <br><b> Fecha:&nbsp;&nbsp;&nbsp; </b><input type="fecha" name="fecha" placeholder="fecha"  value ={{fecha::input}} /></br>
               <hr></hr>

               <ul class="nav nav-pills nav-stacked">
                   <li role="presentation"><a href="[[rootPath]]view3-movimientos" on-click="altaTransferencia"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Realizar Transferencia</a></li>
                   <li></li>
               </ul>
           </div>
       </div>

 <!-- tener el mensaje oculto mientras no se haya hecho la transferencia - se marca con ! + variable

  <span hidden$="{{!transferenciaOK}}" class="help-block">se ha realizado la transferencia de forma correcta</span>
-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyView6Transferencia extends Polymer.Element {
      static get is() { return 'my-view6-transferencia'; }
      static get properties() {
        return {
          iban: {
              type: String
          },
          cuenta: {
              type: String
          },
          fecha: {
              type: Date
          },
          importe: {
                type: Number
          },
          divisa: {
                type: String
          },
          transferenciaOK: {
                type: Boolean,
                value: false
          }
        };
      }
      mostrarResultadoAlta(resultado){
        console.log("4. llegaron los resultados")
        this.transferenciaOK = true
        console.log(resultado.detail.response)
        console.log("5.proceso los resultados")
        const it = this.iban
        const et = resultado.detail.response.saldo
        console.log(it)
        console.log(et)
        this.dispatchEvent(new CustomEvent("transferenciabien", {"detail":{"IBAN":it, "saldo":et}}))

      }
      mostrarError(error){
        console.log("4. llegamos al error")
        this.alta = false
        console.log(error)
        this.dispatchEvent(new CustomEvent("transferenciaError", {"detail":{"id":"erroralta"}}))
      }
      altaTransferencia(){
        console.log("1. el suario ha pulsado el botón de alta transferencia")
        console.log(this.iban)
        this.ibanEd = '"' + this.iban + '"'
        console.log("con comillas : " + this.ibanEd)
        this.$.transferencia.headers.cuenta = this.ibanEd
        this.$.transferencia.headers.fecha = this.fecha
        this.$.transferencia.headers.importe = this.importe
        this.$.transferencia.headers.divisa = this.divisa
        console.log(this.$.transferencia.headers.cuenta)
        console.log(this.$.transferencia.headers.fecha)
        console.log(this.$.transferencia.headers.importe)
        console.log(this.$.transferencia.headers.divisa)
        console.log("2. voy a enviar la petición a la api de transferencias")
        this.$.transferencia.generateRequest()
        console.log("3. petición enviada para la api de transferencias")
      }
    }

    window.customElements.define(MyView6Transferencia.is, MyView6Transferencia);
  </script>
</dom-module>
