<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="my-view4">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>ERROR LOGIN</h1>
    <h1>POR FAVOR ASEGURESE DE HABER INTRODUCIDO CORRECTAMENTE EMAIL Y PASSWORD</h1>

  </template>

  <script>
    /**
     * `page-not-found.html`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MyView4 extends Polymer.Element {
      static get is() { return 'my-view4'; }
      static get properties() {
        return {

        };
      }
      mostrarError(error){
          console.log(error)
      }
    }

    window.customElements.define(MyView4.is, MyView4);
  </script>
</dom-module>
