<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-view2">
  <template>
    <style>
      :host {
        display: block;

        width: 90%;
        position: absolute;

        top: 70px;
        left: 70px;
      }

    /*  .container {
        margin-top: 120px;
      } */

      /* Estilos del formulario*/
      #wrap{
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #D3D8E8));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #D3D8E8 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  }
  legend{
  	color:#141823;
  	font-size:25px;
  	font-weight:bold;
  }
  .signup-btn {
    background: #04A3ED;
    background-image: -webkit-linear-gradient(top, #04A3ED, #00547E);
    background-image: -moz-linear-gradient(top, #04A3ED, #00547E);
    background-image: -ms-linear-gradient(top, #04A3ED, #00547E);
    background-image: -o-linear-gradient(top, #04A3ED, #00547E);
    background-image: linear-gradient(to bottom, #04A3ED, #00547E);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    text-shadow: 0px 1px 0px #898a88;
    -webkit-box-shadow: 0px 0px 0px #a4e388;
    -moz-box-shadow: 0px 0px 0px #a4e388;
    box-shadow: 0px 0px 0px #a4e388;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #3b6e22  1px;
    text-decoration: none;
  }

  .signup-btn:hover {
    background: #04A3ED;
    background-image: -webkit-linear-gradient(top, #04A3ED, #5e7056);
    background-image: -moz-linear-gradient(top, #04A3ED, #5e7056);
    background-image: -ms-linear-gradient(top, #04A3ED, #5e7056);
    background-image: -o-linear-gradient(top, #04A3ED, #5e7056);
    background-image: linear-gradient(to bottom, #04A3ED, #5e7056);
    text-decoration: none;
  }


    </style>
      <iron-ajax id="altaUsuario"
                url="http://mi-ruta-back.7e14.starter-us-west-2.openshiftapps.com/apitechu/v8/usuarios"
                METHOD="POST"
                hadle-as="json"
                on-response="mostrarResultadoAlta"
                on-error="mostrarError">
      </iron-ajax>

<!--  GUILLERMo<div class="container">
<div class="col-md-4">
 <div class="row">
     <h1> Date de alta Online</h1>
     <input type="email" name="email" placeholder="email" value={{email::input}} />
     </br>
     <input type="password"name="password" placeholder="Password"  value ={{password::input}} />
     </br>
     <input type="nombre" name="nombre" placeholder="nombre" value={{nombre::input}} />
     </br>
     <input type="apellido"name="apellido" placeholder="apellido"  value ={{apellido::input}} />
     </br>
     <input type="id" name="id" placeholder="id" value={{id::input}} />
     </br>

    <button on-click="altaCliente">Alta cliente</button>
 </div>
 </div>

-->

 <div class="container" id="wrap">
	  <div class="row">
        <div class="col-md-6 col-md-offset-3">




                   <div class="panel-heading"><h3 class="panel-title"><legend>Hazte Cliente</legend></h3>
                    <h4>Alta online totalmente gratuita</h4></div>

                    <label for="exampleInputDatos">&nbsp;&nbsp;&nbsp;Datos Personales</label>

                <div class="panel-body">
<!--                <form role="form">
-->

                   <div class="form-group">

                         <input type="text" name="firstname" value={{nombre::input}} class="form-control input-lg" placeholder="Nombre"  />

                         <input type="text" name="lastname" value={{apellido::input}} class="form-control input-lg" placeholder="Apellido"  />
                    </div>
                    <div class="form-group">
                    <input type="text" name="email" value={{email::input}} class="form-control input-lg" placeholder="Email"  /><input type="password" name="password" value={{password::input}} class="form-control input-lg" placeholder="Password"  /><input type="password" name="confirm_password" value={{password2::input}} class="form-control input-lg" placeholder="Confirmar Password"  />
                    </div>
                    <div class="form-group">
                     <label>Hombre / Mujer : </label>
                     <label class="radio-inline">
                        <input type="radio" name="gender" value="M" id=male />Hombre
                     </label>
                     <label class="radio-inline">
                        <input type="radio" name="gender" value="F" id=female />Mujer
                    </label>
                    </div>

                    <span class="help-block">Al hecer click y darme de alta, acepto los términos y condiciones de BBVA y la política de uso de datos, incluyendo el uso de cookies.</span>


                   <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit" on-click="altaCliente">
                        Darme de alta</button>
<!--
                 </form>
        -->
                 </div>
        </div>
    </div>
</div>



 <!-- tener el mensaje oculto mientras no esté logado - se marca con ! + variable
 -->
 <span hidden$="{{!alta}}">Alta efectuada correctamente</span>
 <span hidden$="{{!error}}">se ha producido un error en el proceso de alta</span>
 <span hidden$="{{!error}}">Es posible que el email que haya introducido no sea valido</span>
 <span hidden$="{{!error}}">Por favor en caso de necesitar ayuda contacte vía email con nosotros</span>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }
      static get properties() {
        return {
          email: {
              type: String
          },
          password: {
              type: String
          },
          nombre: {
              type: String
          },
          apellido: {
              type: String
          },
          password2: {
              type: String
          },
          gender: {
              type: String
          },
          alta: {
                type: Boolean,
                value: false
          },
          error: {
                type: Boolean,
                value: false
          }
        };
      }
      mostrarResultadoAlta(resultado){
        console.log("4. llegaron los resultados")
        console.log(resultado)
        console.log("5.proceso los resultados")
        this.alta = true
        this.dispatchEvent(new CustomEvent("mialta", {"detail":{"id":"alta efectuada correctamente"}}))
      }
      mostrarError(error){
        console.log("4. llegamos al error")
        this.alta = false
        this.error = true
        console.log(error)
        this.dispatchEvent(new CustomEvent("erralta", {"detail":{"id":"erroralta"}}))


      }
      altaCliente(){
        console.log("1. el suario ha pulsado el botón")
        this.$.altaUsuario.headers.email1 = this.email
        this.$.altaUsuario.headers.password1 = this.password
        this.$.altaUsuario.headers.nombre1 = this.nombre
        this.$.altaUsuario.headers.apellido1 = this.apellido
        console.log(this.$.altaUsuario.headers.email1)
        console.log(this.$.altaUsuario.headers.password1)
        console.log(this.$.altaUsuario.headers.nombre1)
        console.log(this.$.altaUsuario.headers.apellido1)
        console.log("2. voy a enviar la petición")
        this.$.altaUsuario.generateRequest()
        console.log("3. petición enviada")
      }
    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
