<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="my-view-err-alta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>ERROR ALTA</h1>
    <h1>Es posible que el email que haya introducido no sea valido y ya haya</h1>
    <h1>sido utilizado por otro cliente</h1>
    <h1>Por favor en caso de necesitar ayuda contacte vía email con nosotros</h1>
    <h1>a través del enlace:</h1>
    <h1>CONTACTA CON NOSOTROS</h1>
  </template>

  <script>
    /**
     * `page-not-found.html`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MyViewErrAlta extends Polymer.Element {
      static get is() { return 'my-view-err-alta'; }
      static get properties() {
        return {

        };
      }
      mostrarError(error){
          console.log(error)
      }
    }

    window.customElements.define(MyViewErrAlta.is, MyViewErrAlta);
  </script>
</dom-module>
