<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">



<dom-module id="my-view-contacta-visor">
<template>
  <style>
    :host {
      display: block;

      padding: 10px

      width: 90%;
      position: absolute;

      top: 70px;
      left: 250px;
    }

    /* Estilos del formulario*/
    #wrap{
      width: 90%;
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
/* Mozilla Firefox */
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
/* Opera */
background-image: -o-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #D3D8E8));
/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
/* W3C Markup, IE10 Release Preview */
background-image: linear-gradient(to bottom, #FFFFFF 0%, #D3D8E8 100%);
background-repeat: no-repeat;
background-attachment: fixed;
}
legend{
  color:#141823;
  font-size:25px;
  font-weight:bold;
}
.signup-btn {
  background: #04A3ED;
  background-image: -webkit-linear-gradient(top, #04A3ED, #00547E);
  background-image: -moz-linear-gradient(top, #04A3ED, #00547E);
  background-image: -ms-linear-gradient(top, #04A3ED, #00547E);
  background-image: -o-linear-gradient(top, #04A3ED, #00547E);
  background-image: linear-gradient(to bottom, #04A3ED, #00547E);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 0px 1px 0px #898a88;
  -webkit-box-shadow: 0px 0px 0px #a4e388;
  -moz-box-shadow: 0px 0px 0px #a4e388;
  box-shadow: 0px 0px 0px #a4e388;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #3b6e22  1px;
  text-decoration: none;
}

.signup-btn:hover {
  background: #04A3ED;
  background-image: -webkit-linear-gradient(top, #04A3ED, #5e7056);
  background-image: -moz-linear-gradient(top, #04A3ED, #5e7056);
  background-image: -ms-linear-gradient(top, #04A3ED, #5e7056);
  background-image: -o-linear-gradient(top, #04A3ED, #5e7056);
  background-image: linear-gradient(to bottom, #04A3ED, #5e7056);
  text-decoration: none;
}
.navbar-default .navbar-brand{
    color:#fff;
    font-size:30px;
    font-weight:bold;
  }
.form .form-control { margin-bottom: 10px; }
@media (min-width:768px) {
  #home{
    margin-top:50px;
  }
  #home .slogan{
    color: #0e385f;
    line-height: 29px;
    font-weight:bold;
  }
}

  </style>

  <!--  <form class="login-container">
      <label for="name">Tu nombre:</label><br/>
      <p><input type="name" name="name" placeholder="nombre" value="{{name::input}}"></p>
      <label for="email">Tu email:</label><br />
      <p><input type="email" name="email" placeholder="Email" value="{{email::input}}"></p>
			<label for="message">Tu mensaje:</label><br />
      <p>​<textarea name="message" placeholder="Mensaje" rows="3" cols="36" value="{{message::input}}"></textarea></p>
      <p><input type="button" name="button" value="Enviar" on-click ="enviar"></p>
    </form>
  </div>-->

  <div class="container" id="wrap">
     <div class="row">
         <div class="col-md-6 col-md-offset-3">
                  <div class="panel-heading"><h3 class="panel-title"><legend>Contacta con nosotros</legend>
                     <h4>Envianos tu mensaje</h4></div>
                  <div class="panel-body">
                  <form role="form">
                     <label for="exampleInputDatos">Datos del mensaje</label>
                     <input type="text" name="nombre" value={{nombre::input}} class="form-control input-lg" placeholder="Nombre"  />
                     <input type="text" name="email" value={{email::input}} class="form-control input-lg" placeholder="Email"  />
                     <textarea name="mensaje" class="form-control input-lg" placeholder="Mensaje" rows="3" cols="36" value="{{message::input}}"></textarea>

                     <br />
                     <span class="help-block">En breve recibiremos su mensaje y le contestaremos lo antes posible. Gracias por su confianza.</span>
                     <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit" on-click="enviar">
                         Enviar</button>
                  </form>
                  </div>
         </div>
      </div>
  </div>

</template>

<script>
  /**
   * @customElement
   * @polymer
   */
   class MyViewContactaVisor extends Polymer.Element {
    static get is() { return 'my-view-contacta-visor'; }
    static get properties() {
      return {
        nombre: {
          type: String,
          value: ''
        },
        email: {
          type: String,
          value: ''
        },
        message: {
          type: String,
          value: ''
        }
      };
    }

    enviar () {
      if (this.nombre == '') {
         alert('Debe rellenar el campo nombre');
      } else if (this.email == '') {
         alert('Debe rellenar el campo email');
       } else if (this.message == '') {
          alert('Debe rellenar el campo mensaje');
       } else {
         parent.location='mailto:guillermopelayo@hotmail.com?cc=' + this.email + '&subject=Consulta&body=' + this.message;
        this.nombre = "";
        this.email = "";
        this.message = "";
       }
    }
  }

  window.customElements.define(MyViewContactaVisor.is, MyViewContactaVisor);
</script>
</dom-module>
