<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-view9-datos">
  <template>
    <style>
      :host {
        display: block;

        width: 90%;
        position: absolute;

        top: 70px;
        left: 70px;
      }

      /* Estilo para el login */
  /*    .container {
        margin-left: 420px;
        margin-top: 120px;

      }*/
      #wrap{
        width: 60%;
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #D3D8E8));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #D3D8E8 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  }

  legend{
  	color:#141823;
  	font-size:25px;
  	font-weight:bold;
  }
  .signup-btn {
    background: #04A3ED;
    background-image: -webkit-linear-gradient(top, #04A3ED, #00547E);
    background-image: -moz-linear-gradient(top, #04A3ED, #00547E);
    background-image: -ms-linear-gradient(top, #04A3ED, #00547E);
    background-image: -o-linear-gradient(top, #04A3ED, #00547E);
    background-image: linear-gradient(to bottom, #04A3ED, #00547E);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    text-shadow: 0px 1px 0px #898a88;
    -webkit-box-shadow: 0px 0px 0px #a4e388;
    -moz-box-shadow: 0px 0px 0px #a4e388;
    box-shadow: 0px 0px 0px #a4e388;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #3b6e22  1px;
    text-decoration: none;
  }

  .signup-btn:hover {
    background: #04A3ED;
    background-image: -webkit-linear-gradient(top, #04A3ED, #5e7056);
    background-image: -moz-linear-gradient(top, #04A3ED, #5e7056);
    background-image: -ms-linear-gradient(top, #04A3ED, #5e7056);
    background-image: -o-linear-gradient(top, #04A3ED, #5e7056);
    background-image: linear-gradient(to bottom, #04A3ED, #5e7056);
    text-decoration: none;
  }
    </style>
      <iron-ajax id="modDatos"
                url="http://mi-ruta-back.7e14.starter-us-west-2.openshiftapps.com/apitechu/v8/modusuario"
                METHOD="POST"
                hadle-as="json"
                on-response="mostrarResultadoLogin"
                on-error="mostrarError">
      </iron-ajax>

 <!--<div class="row">
   <input type="email" name="email" placeholder="email" value={{email::input}} />
   <input type="password"name="password" placeholder="Password"  value ={{password::input}} />
   <button on-click="logar">Login</button> -->
 <br/>
 <br/>

 <!--<div class="container" style="margin-top:30px">-->
 <div class="container" id="wrap">
	  <div class="row">
        <div class="col-md-6 col-md-offset-3">
           <div class="panel-heading"><h3 class="panel-title"><legend>Mi Perfil </legend></h3>
           <h4>Actualiza tus datos:</h4></div>
           <div class="panel-body">
             <div class="form-group">
             <label for="exampleInputEmail1">Email</label>
             <input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="Email" value={{email::input}} >
             </div>
             <div class="form-group">
             <label for="exampleInputEmail1">Password</label>
             <input type="password" class="form-control input-lg" id="exampleInputPassword1" placeholder="Password" value ={{password::input}} >
             <input type="password" class="form-control input-lg" id="exampleInputPassword1" placeholder="Repita la Password" value ={{password2::input}} >
             </div>
             <button type="submit" class="btn btn-lg btn-primary btn-block signup-btn" on-click="cambiarDatos">Actualizar</button>
            </div>
          </div>
     </div>
  </div>

  <!-- tener el mensaje oculto mientras no esté logado - se marca con ! + variable
 -->
 <!--<span hidden$="{{!logado}}">Bienvenido de nuevo</span>-->


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyView9Datos extends Polymer.Element {
      static get is() { return 'my-view9-datos'; }
      static get properties() {
        return {
          idcliente: {
              type: String
          },
          email: {
              type: String
          },
          password: {
              type: String
          },
          logado: {
                type: Boolean,
                value: false
          }
        };
      }
      mostrarResultadoLogin(resultado){
        console.log("4. llegaron los resultados")
        console.log(resultado)
        console.log("5.proceso los resultados")
        alert('Sus datos se han modificado correctamente');
    //    this.logado = true
    //    this.dispatchEvent(new CustomEvent("milogado", {"detail":{"id":resultado.detail.response.id}}))
      }
      mostrarError(error){
        console.log("4. llegamos al error")
        console.log(error)
        console.log(error.detail.response)
        alert('Datos no válidos');
    //    this.logado = false
    //    console.log(error)
    //    this.dispatchEvent(new CustomEvent("errlogado", {"detail":{"id":"errorlogado"}}))


      }
      cambiarDatos(){
        if (this.email == '') {
           alert('Debe rellenar el campo email');
         } else if (this.password == '') {
           alert('Debe rellenar el campo password');
          } else if (this.password2 == '') {
            alert('Repita la password');
           } else if (this.password !== this.password2) {
             alert('No coinciden las passwords');
            } else {
              console.log("1. el suario ha pulsado el botón")
              this.$.modDatos.headers.id = this.idcliente
              this.$.modDatos.headers.email = this.email
              this.$.modDatos.headers.password = this.password
              console.log("2. voy a enviar la petición")
              this.$.modDatos.generateRequest()
              console.log("3. petición enviada")
         }
      }
    }

    window.customElements.define(MyView9Datos.is, MyView9Datos);
  </script>
</dom-module>
